body {
	position: relative;
}

div.question0 {
	padding-top: 50px;
	height: 100vh;
	color: #fff;
	background-color: #248dcd;
  	justify-content: center;
  	text-align: center;
}

div.question1 {
	padding-top: 50px;
	height: 100vh;
	color: #fff;
	background-color: #d8212c;
	justify-content: center;
  	text-align: center;
}

div.question2 {
	padding-top: 50px;
	height: 100vh;
	color: #fff;
	background-color: #fcca30;
	justify-content: center;
  	text-align: center;
}

div.question3 {
	padding-top: 50px;
	height: 100vh;
	color: #fff;
	background-color: #808184;
	justify-content: center;
  	text-align: center;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
  color: #808184;
}

.emoji-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.icon5{background-image:url(../resources/images/emojis/emoji5.png);}
.icon4{background-image:url(../resources/images/emojis/emoji4.png);}
.icon3{background-image:url(../resources/images/emojis/emoji3.png);}
.icon2{background-image:url(../resources/images/emojis/emoji2.png);}
.icon1{background-image:url(../resources/images/emojis/emoji1.png);}

.emoji-selector input:active +.drinkcard-emoji{opacity: .9;}
.emoji-selector input:checked +.drinkcard-emoji{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}

.drinkcard-emoji{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:150px;height:100px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}

.drinkcard-emoji:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/* Extras */
a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;} 