<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>
	<composite:attribute name="pressed" type="java.lang.Boolean"
		default="false"></composite:attribute>
	<composite:attribute name="pressedIcon" type="java.lang.String"></composite:attribute>
	<composite:attribute name="notPressedIcon" type="java.lang.String"></composite:attribute>
	<composite:attribute name="action" method-signature="void action()"></composite:attribute>
</composite:interface>

<composite:implementation>
	<h:commandLink id="emoji-button" action="#{cc.attrs.action}">
		<h:graphicImage library="images"
			name="#{cc.attrs.pressed ? cc.attrs.pressedIcon : cc.attrs.notPressedIcon}" />
	</h:commandLink>
</composite:implementation>
</html>