<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<title>MAV – MUSEO ARCHEOLOGICO VIRTUALE</title>
<link rel="icon" type="image/png" sizes="16x16"
		href="#{resource['images/favicon-16x16.png']}"></link>
</h:head>
<h:body
	style="font-size: 15px; background-color:black; overflow-x: hidden;">
	<h:form id="addNewQuestionForm">
	
	<b:row>
		<b:column span="1" >
		<b:commandButton look="link"
						actionListener="#{homeController.redirect('surveyAdmin.xhtml')}">
						<b:image library="images" name="back.png" style="width:100%"
							class="img-responsive center-block" />
					</b:commandButton>
		</b:column>
		
		<b:column offset="10" span="1" >
					<b:button value="home" iconAwesome="home" href="homeAdmin.xhtml" 
						style="width:60%; background-color: #808184; color:white; border-color:#808184" />
				</b:column>
		
		<b:column offset="3" span="4">
			<b:image library="images" name="Logo-MAV.png" style="width: 50%;"
				class="img-responsive center-block" />
		</b:column>
		</b:row>
		
		<b:row layout="fluid">
			<b:column class="img-responsive center-block"
				style="align: left; height: 160px">
			</b:column>
		</b:row>
			
			<b:container>
			<h:outputLabel value="Domanda" for="quetext" style= "color: #fcca30" />
				<h:outputLabel value=" " style=" width: 80px"/>

			<b:form>

			
				<h:outputLabel value=" " />
				<b:inputTextarea placeholder="Inserisci la domanda qui...."
					id="quetext" value="#{questionAddController.question.quetext}" >
				
				</b:inputTextarea>
				
				<h:message for="quetext" style="color:red" />

			</b:form>
			
			<b:row>
			<b:column>
			<h:outputLabel value="Seleziona Lingua" for="language" style= "color: #fcca30" />
			</b:column>
			
			
			<h:outputLabel value=" " />
				<b:selectOneMenu value="#{questionAddController.question.language}"
					colMd="2" label="" labelColMd="2" >
					<f:selectItem itemValue="IT" itemLabel="Italiano" />
					<f:selectItem itemValue="EN" itemLabel="Inglese" />
				</b:selectOneMenu>
				</b:row>
				
				<b:row>
				<b:column offset="5" span="2">
			<b:commandButton value="AGGIUNGI"
						action="#{questionAddController.addNewQuestion}"
						style="width: 100%; background-color: #248dcd; color:white; border-color:#248dcd" />
			</b:column>
			</b:row>
						
		</b:container>
	</h:form>
</h:body>
</html>