<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<title>MAV – MUSEO ARCHEOLOGICO VIRTUALE</title>
	<link rel="icon" type="image/png" sizes="16x16" href="#{resource['images/favicon-16x16.png']}"></link>

	<style type="text/css">
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_info,
	.dataTables_wrapper .dataTables_filter {
	color: #fcca30;
}
</style>
</h:head>
<h:body
	style="font-size: 15px; background-color:black; overflow-x: hidden;">
	<h:form id="addQuestionForm">

		<b:row>
			<b:column span="1">
				<b:commandButton look="link" actionListener="#{homeController.redirect('surveyAdmin.xhtml')}">
					<b:image library="images" name="back.png" style="width:100%; border-radius: 20px" class="img-responsive center-block" />
				</b:commandButton>
			</b:column>

			<b:column offset="10" span="1">
				<b:button value="home" iconAwesome="home" href="homeAdmin.xhtml" style="width:60%; background-color: #808184; color:white; border-color:#808184" />
			</b:column>

			<b:column offset="3" span="4">
				<b:image library="images" name="Logo-MAV.png" style="width: 50%" class="img-responsive center-block" />
			</b:column>
		</b:row>

		<b:row layout="fluid">
			<b:column class="img-responsive center-block" style="align: left; height: 160px">
			</b:column>
		</b:row>




		<b:container>

			<b:column medium-screen="5">
			<b:dataTable id="questionsList"
				value="#{questionAddController.questions}" selection-mode="multiple"
				var="question" selected-items="rows"
				onselect="ajax:questionAddController.addSelectedQuestion(question)"
				ondeselect="ajax:questionAddController.removeSelectedQuestion(question)" style="color:#fcca30" striped="false">

				<b:dataTableColumn value="#{question.quetext}" label="Domanda" />
			</b:dataTable>
				</b:column>
				
				
					
						<b:column medium-screen="2">
				<b:commandButton value="AGGIUNGI" iconAwesome="arrow-right"
						action="#{questionAddController.populateQuestionsToSend}"
						style="width: 100%; background-color:#d8212c; color:white; border-color:#d8212c" ajax="true" />
						
						<b:row layout="fluid">
					<b:column style="align: left; height: 30px">
					</b:column>
						</b:row>
				
				<b:commandButton value="RIMUOVI" iconAwesome="arrow-left"
						action="#{questionAddController.removeQuestionsToSend}"
						style="width: 100%; background-color:#d8212c; color:white; border-color:#d8212c" ajax="true" />
				
				</b:column>
		
				<b:column medium-screen="5">
			<b:dataTable id="selectedQuestionsList"
				value="#{questionAddController.questionsToSend}"
				selection-mode="multiple" var="question" selected-items="rows"
				onselect="ajax:questionAddController.addQuestionToSend(question)"
				ondeselect="ajax:questionAddController.removeQuestionToSend(question)" style="color:#fcca30" striped="false">

				<b:dataTableColumn value="#{question.quetext}" label="Domanda" />
			</b:dataTable>	
				</b:column>
				



			<b:row layout="fluid">
				<b:column style="align: left; height: 30px">
				</b:column>
			</b:row>


			<b:column offset="5" span="2">
				<b:commandButton value="CONFERMA" action="#{questionAddController.addQuestion()}" style="width: 100%; background-color: #248dcd; color:white; border-color:#248dcd" />
			</b:column>
		</b:container>

	</h:form>
</h:body>
</html>