<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<title>Project and Planning</title>
</h:head>
<h:body style="font-size: 15px; background-color:rgb(247,171,116)">
	<h:form id="emailListForm">
		<b:container layout="fluid" style="align: center;">
			<b:row layout="fluid" style="align: center;">
				<b:column medium-screen="12" style="align: center;">
				</b:column>
			</b:row>
			<b:row layout="fluid" style="align: center;">
				<b:column medium-screen="12" style="align: center;">
					<b:image name="pp" value="jpeg\azienda.jpg"
						tooltip="Project and Planning"
						style=" top: 0px; left: 0px; width: 100%; height: 290px; align: center;" />
				</b:column>
			</b:row>
			<b:row layout="fluid">
				<b:column medium-screen="12" style="align: left; height: 50px">
					<b:image name="logopp" value="jpeg\logo.jpg"
						tooltip="Project and Planning"
						style=" top: 0px; left: 0px; width: 100%; height: 50px; align: center;" />
				</b:column>
			</b:row>
			<b:row layout="fluid">
				<b:column medium-screen="9" span="9"
					style="align: left; height: 80px">
				</b:column>
			</b:row>
			<b:dataTable value="#{emailListController.emails}"
				var="email">
				<b:dataTableColumn value="#{email.emailtext}" label="Email" />
				<b:dataTableColumn value="#{email.data}" label="ANNO inserimento" />
				
			</b:dataTable>
			<b:row layout="fluid">
				<b:column medium-screen="9" span="9"
					style="align: left; height: 130px">
				</b:column>
			</b:row>
			<b:row>
				<b:column medium-screen="2">
					<b:button value="HOME" href="homeAdmin.xhtml" look="danger"
						style="width:100%" />
				</b:column>
				<b:column span="3">
				</b:column>
				
				<b:column span="3">
				</b:column>
				<b:column medium-screen="2">
					<b:button value="INDIETRO" href="homeAdmin.xhtml" look="danger"
						style="width:100%" />
				</b:column>
			</b:row>
		</b:container>
	</h:form>
</h:body>
</html>