<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<title>MAV–MUSEO ARCHEOLOGICO VIRTUALE</title>
	<link rel="icon" type="image/png" sizes="16x16" href="#{resource['images/favicon-16x16.png']}">
	</link>
</h:head>
<h:body style="font-size: 15px; background-color:#000000">
	<h:form id="loginForm">
		<b:container layout="fluid" style="align: center;">
			
			<b:row>
				<b:column span="4" offset="4">
					<b:image library="images" name="Logo-MAV.png" style="width: 86%;"
					class="img-responsive center-block" />
				</b:column>
			</b:row>
			<b:row layout="fluid">
				<b:column 
					style="align: right; height: 50px">
				</b:column>
			</b:row>
		<b:row   layout="fluid" style="align:left; height:60px;">	
        <b:column span="4" offset="4" style="align:right; color: white; height:60px;"> 
        <h3>Iscriviti alla Newsletter / Sign to Newsletter</h3>
         </b:column>
        </b:row>
       <b:row >
				<b:column 
					style="align: right; height: 40px">
				</b:column>
			</b:row>
            	<b:row>
				<b:column span="1" offset="3">
					<h:outputText value="E-mail:" labelStyle="width:50px;" style=" font-weight: bold; color: white; width: 20px" />
				</b:column>
				<b:column medium-screen="4">
						<b:inputText placeholder="#{pagesEmailController.email.emailtext}"
						id="email" value="#{pagesEmailController.email.emailtext}"
						ajax="true" autocomplete="true" update="@(.message)">
						<f:facet name="prepend">
							<b:icon name="envelope" />
						</f:facet>
						</b:inputText>
				</b:column>
				<b:column style-class="message" medium-screen="6">
					<b:message for="email" />
				</b:column>
			</b:row>
			<b:row layout="fluid">
				<b:column 
					style="align: left; height: 20px">
				</b:column>
			</b:row>
			<b:row>
				<b:column span="2" offset="4">
				
				<b:commandButton value="INVIA E-MAIL"
						action="#{pagesEmailController.addEmail()}" 
					style="width:100%; background-color:#248dcd; border-color:#248dcd; color:white" />
		        </b:column>
			 
				<b:column span="2" >
					<b:button value="ESCI" href="home.xhtml"
					style="width:100%; background-color:#d8212c; color:white; border-color:#d8212c" />
				</b:column>
			</b:row>
			<b:container>
			 <b:row layout="fluid">
	<b:column  style="align: left; height: 120px">
     </b:column>
	</b:row>
      	 <b:row layout="fluid" style="align: left;">
        	<b:column span="4" offset="1" style="align: left; color: white">
        	<h3>INFORMATIVA SULLA PRIVACY</h3>
			<p>Ai sensi dell’articolo 13 del Codice in materia di protezione dei dati personali 
			  (D.Lgs.n 196/2003 – c.d. “Codice privacy”) si fornisce, qui di seguito, l’informativa 
			  riguardante il trattamento dei dati personali che sarà effettuato da questo Ente 
			  esclusivamente in relazione al monitoraggio della soddisfazione degli utenti.</p>
			</b:column>
		
		<b:column  span="4" offset="1" style="align: left; color: white">
				
			
			<h3>FINALITA' DEL TRATTAMENTO E CONFERIMENTO DEI DATI</h3>
			<p>Realizzazione di indagini dirette a verificare il grado di soddisfazione 
			   degli utenti sui servizi offerti o richiesti, volte a migliorare 
			   la qualità degli stessi.</p>
			<p>Il conferimento dei dati è facoltativo ma, in mancanza, 
			   non sarà possibile effettuare le indagini suddette.I dati saranno 
			   trattati solo per il tempo necessario.</p>
			</b:column>
	          <b:column  style="align: left; height: 30px">
              </b:column>
	         </b:row>
      	  <b:row layout="fluid">
	<b:column  style="align: left; height: 40px">
     </b:column>
	</b:row>
      	 <b:row layout="fluid" style="align: left;">
        	<b:column offset="1" span="4" style="align: right; color: white">
        	<h3>PRIVACY POLICY</h3>
			<p>Pursuant to Article 13 of the Code regarding the protection of personal data
			  (Legislative Decree 196/2003 - the so-called "Privacy Code") below, we inform 
			   you about the processing of personal data by this Body Both in relation to 
			   monitoring user satisfaction.</p>
			</b:column>
			
			<b:column offset="1" span="4" style="align: right; color: white">  
				
			<h3>PURPOSE OF DATA PROCESSING AND PROVIDING</h3>
			<p>Realization of direct surveys a successful success of 
			   the services offered, aimed at improving the quality 
			   of the same.</p>
			<p>The provision of data is optional but, 
			   failing that, it will not be possible to carry out the aforementioned investigations. 
			   The data will be processed only for the necessary time</p>
			</b:column> 
			</b:row>  	
			<b:row layout="fluid">
			<b:column offset="4" span="4" style="align: right; height: 60px">	
		<h:outputLabel value="Software realizzato da PrimaryTeam @2018"
			style="color: #d8212c" />
			</b:column>	
			</b:row>		
		</b:container>	
	</b:container>
	</h:form>
</h:body>
</html>