<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<title>MAV – MUSEO ARCHEOLOGICO VIRTUALE</title>
	<link rel="icon" type="image/png" sizes="16x16"
		href="#{resource['images/favicon-16x16.png']}"></link>
</h:head>
<h:body style="font-size: 15px; background-image: url(#{resource['images/wallpaper1920x1080.png']}); background-repeat:black; background-size: cover">

<h:form>
<b:row>
		<b:column span="1" >
		<b:commandButton look="link"
						actionListener="#{homeController.redirect('login.xhtml')}">
						<b:image library="images" name="login.png" style="width: 100%"
							class="img-responsive center-block" />
					</b:commandButton>
		</b:column>


		<b:column offset="3" span="4">
			<b:image library="images" name="Logo-MAV.png" style="width: 50%;"
				class="img-responsive center-block" />
		</b:column>
	</b:row>
</h:form>

	<b:row layout="fluid">
		<b:column class="img-responsive center-block"
			style="align: left; height: 180px">
		</b:column>
	</b:row>
	
<h:form>
	<b:row>
		
			<b:column offset="3"  span="3">
				<div>
					<b:commandButton look="link"
						actionListener="#{homeController.redirect('italianMenu.xhtml')}">
						<b:image library="images" name="itaflag.png" style="width:50%"
							class="img-responsive center-block" />
					</b:commandButton>
				</div>
			</b:column>

			<b:column span="3">
				<b:commandButton look="link"
					actionListener="#{homeController.redirect('ukMenu.xhtml')}">
					<b:image library="images" name="ukflag.png" style="width:50%"
						class="img-responsive center-block" />
				</b:commandButton>
			</b:column>
		</b:row>
</h:form>
</h:body>
</html>