<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>MAV – MUSEO ARCHEOLOGICO VIRTUALE</title>
	<link rel="icon" type="image/png" sizes="16x16"
		href="#{resource['images/favicon-16x16.png']}"></link>
</h:head>
<h:body
	style="font-size: 15px; background-color: black; overflow-x: hidden;">
	<h:form>
	<b:row>
				<b:column span="2" >
					<b:button value="logout" iconAwesome="sign-out"
						href="login.xhtml"
						 style="width:30%; background-color: #808184; color:white; border-color:#808184"  />
				</b:column>
			
		
		
		<b:column offset="2" span="4">
			<b:image library="images" name="Logo-MAV.png" style="width: 50%;"
				class="img-responsive center-block" />
		</b:column>
		</b:row>
	</h:form>
	
	<b:row layout="fluid">
		<b:column class="img-responsive center-block"
			style="align: left; height: 200px">
		</b:column>
	</b:row>
      	 
        <b:row>
        <b:column offset="5" span="2" >
          <b:button value="GESTIONE QUESTIONARI" href="surveyAdmin.xhtml"   
          style="width:100%; background-color: #248dcd; color:white; border-color:#248dcd" />
		 </b:column> 
		 </b:row>
		     <b:row layout="fluid">							
		<b:column medium-screen="9" span="9"
		style="align: left; height: 40px">
		 </b:column> 
      	 </b:row>
		    <b:row>
		 <b:column offset="5" span="2" >
          <b:button value="VISUALIZZA SUGGERIMENTI" href="tipList.xhtml"   
          style="width:100%; background-color: #248dcd; color:white; border-color:#248dcd" />
		 </b:column> 
       </b:row>
           <b:row layout="fluid">							
		<b:column medium-screen="9" span="9"
		style="align: left; height: 40px">
		 </b:column> 
      	 </b:row>
       <b:row>
		 <b:column offset="5" span="2" >
          <b:button value="MAILING LIST" href="emailList.xhtml"   
          style="width:100%; background-color: #248dcd; color:white; border-color:#248dcd" />
		 </b:column> 
       </b:row>
       
          <b:row layout="fluid">							
		<b:column medium-screen="9" span="9"
		style="align: left; height: 40px">
		 </b:column> 
      	 </b:row>
          
           <b:row layout="fluid">							
		<b:column 
		style="align: left; height: 100px">
		 </b:column> 
      	 </b:row>    	 
      	
          
       </h:body>
</html>