<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<title>MAV–MUSEO ARCHEOLOGICO VIRTUALE</title>
</h:head>
<h:body style="font-size: 15px; background-color: #000000">

<link rel="icon" type="image/png" sizes="16x16"
		href="#{resource['images/favicon-16x16.png']}"></link>
		
	<h:form>
	
<b:row>
		<b:column span="1" >
		<b:commandButton look="link"
						actionListener="#{homeController.redirect('home.xhtml')}">
						<b:image library="images" name="back.png" style="width:100%"
							class="img-responsive center-block" />
					</b:commandButton>
		</b:column>
	
	
				<b:column offset="3" span="4">
					<b:image library="images" name="Logo-MAV.png" style="width: 50%;"
						class="img-responsive center-block" />
				</b:column>
			</b:row>
			
			
			<b:row layout="fluid">
				<b:column style="align: left; height: 165px">
				</b:column>
			</b:row>
			
			<b:row>
				<b:column span="1" offset="4">
					<h:outputText value="Username:" for="username"
						style=" font-weight: bold; color: white" />
				</b:column>
				<b:column span="2" >
					<b:inputText placeholder="#{loginController.login.username}"
						id="username" value="#{loginController.login.username}"
						ajax="true" autocomplete="true" update="@(.message)">
						<f:facet name="prepend">
							<b:icon name="user" />
						</f:facet>
					</b:inputText>
				</b:column>
				<b:column style-class="message" span="4">
					<b:message for="username" />
				</b:column>
			</b:row>
			<b:row>
				<b:column span="1" offset="4">
					<h:outputText value="Password:" for="password"
						style=" font-weight: bold; color: white" />
				</b:column>
				<b:column span="2" >
					<b:inputSecret placeholder="#{loginController.login.password}"
						id="password" value="#{loginController.login.password}"
						ajax="true" autocomplete="true" update="@(.message)">
						<f:facet name="prepend">
							<b:iconAwesome name="key" />
						</f:facet>
					</b:inputSecret>
				</b:column>
				<b:column styleClass="message" span="4">
					<b:message for="password" />
				</b:column>
			</b:row>
			
			<b:row layout="fluid">
				<b:column 
					style="align: left; height: 30px">
				</b:column>
			</b:row>
			<b:row>
				<b:column span="2" offset="5">
					<b:commandButton value="ACCEDI"
						action="#{loginController.checkLogin}"
						 style="width:100%; background-color: #248dcd; color:white; border-color:#248dcd" />
				</b:column>
			</b:row>
		

		<b:row layout="fluid">
			<b:column style="align: left; height: 200px">
			</b:column>
		</b:row>
		</h:form>
</h:body>
</html>