<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://java.sun.com/jsf/composite/primary"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
	<title>Questionario di gradimento - Italiano</title>
	<link rel="icon" type="image/png" sizes="16x16"
		href="#{resource['images/favicon-16x16.png']}"></link>
	<link rel="stylesheet" type="text/css"
		href="../resources/css/buttons.css"></link>
	<!-- 	<meta http-equiv="refresh" content="180;URL=home.xhtml" />  -->
	<style>
body {
	position: relative;
}

div.question0 {
	padding-top: 5%;
	height: 100vh;
	color: #fff;
	background-color: #248dcd;
	justify-content: center;
	text-align: center;
}

div.question1 {
	padding-top: 5%;
	height: 100vh;
	color: #fff;
	background-color: #d8212c;
	justify-content: center;
	text-align: center;
}

div.question2 {
	padding-top: 5%;
	height: 100vh;
	color: #fff;
	background-color: #fcca30;
	justify-content: center;
	text-align: center;
}

div.question3 {
	padding-top: 5%;
	height: 100vh;
	color: #fff;
	background-color: #808184;
	justify-content: center;
	text-align: center;
}

.btn-circle.btn-xl {
	width: 70px;
	height: 70px;
	padding: 10px 16px;
	font-size: 24px;
	line-height: 1.33;
	border-radius: 35px;
	color: #808184;
}

.emoji-selector input {
	margin: 0;
	padding: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.icon5 {
	background-image: url(../resources/images/emojis/emoji5.png);
}

.icon4 {
	background-image: url(../resources/images/emojis/emoji4.png);
}

.icon3 {
	background-image: url(../resources/images/emojis/emoji3.png);
}

.icon2 {
	background-image: url(../resources/images/emojis/emoji2.png);
}

.icon1 {
	background-image: url(../resources/images/emojis/emoji1.png);
}

.emoji-selector input:active+.drinkcard-emoji {
	opacity: .9;
}

.emoji-selector input:checked+.drinkcard-emoji {
	-webkit-filter: none;
	-moz-filter: none;
	filter: none;
}

.drinkcard-emoji {
	cursor: pointer;
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	width: 150px;
	height: 100px;
	-webkit-transition: all 100ms ease-in;
	-moz-transition: all 100ms ease-in;
	transition: all 100ms ease-in;
	-webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
	-moz-filter: brightness(1.8) grayscale(1) opacity(.7);
	filter: brightness(1.8) grayscale(1) opacity(.7);
}

.drinkcard-emoji:hover {
	-webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
	-moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
	filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/* Extras */
a:visited {
	color: #888
}

a {
	color: #444;
	text-decoration: none;
}

p {
	margin-bottom: .3em;
}
</style>


	<h:outputScript>
	 /* console.log('test'); */
	</h:outputScript>
</h:head>
<h:body>
	<h:form id="surveyUserForm">
		<b:growl id="growlMsg" globalOnly="true" placement-from="bottom"
			showDetail="false" showSummary="true" allowDismiss="true"
			delay="10000" escape="true" />
		<b:navBar id="nb" brand="Questionario di gradimento" brandHref="#"
			brandImg="../resources/images/Logo-MAV.png"
			brandImgStyle="height:20px" fixed="top">
			<ui:repeat var="question" value="#{surveyUserController.questions}"
				varStatus="loop">
				<b:navbarLinks>
					<b:navLink value="#{loop.index + 1}"
						href="#question#{loop.index + 1}"></b:navLink>
				</b:navbarLinks>
			</ui:repeat>
		</b:navBar>
		<ui:repeat var="question" value="#{surveyUserController.questions}"
			varStatus="loopque">
			<div id="question#{loopque.index+1}"
				class="question#{loopque.index % 4}">
				<b:container fluid="true">
					<b:row style="padding-top:5%">
						<h1>Domanda #{loopque.index + 1}</h1>
						<h2>#{question.quetext}</h2>
					</b:row>
					<b:row style="padding-top:5%">
						<div class="emoji-selector">

							<ui:repeat id="answers" value="#{question.answers}" var="answer"
								varStatus="loop">

								<div style="display: inline-block; text-align: center">
									<div>
										<input jsf:id="answer"
											jsf:value="#{surveyUserController.selectedAnswers[question.id]}"
											type="radio" a:name="#{hiddenItem.clientId}"
											value="#{answer.id}">
										<f:ajax
											render=":surveyUserForm:j_idt10:#{surveyUserController.questions.size() - 1}:add"></f:ajax>
										</input>
										<h:outputLabel class="drinkcard-emoji icon#{loop.index + 1}"
											for="answer" />
									</div>
									
									<div>#{answer.anstext}</div>
								</div>
							</ui:repeat>
							<h:inputHidden id="selectedAnswer" binding="#{hiddenItem}"
								value="#{surveyUserController.selectedAnswers[question.id]}">
							</h:inputHidden>
						</div>
					</b:row>
					<b:row style="vertical-align: center; padding-top:10%"
						rendered="#{!loopque.last}">
						<b:column col-xs="1" col-sm="1" col-md="12">
							<b:button value="AVANTI" href="#question#{loopque.index + 2}"
								size="lg"
								style="width:15%; height:50px; font-size: larger; border-radius:0px; border: 0px;" />
						</b:column>
					</b:row>
					<b:row style="vertical-align: center; padding-top:10%"
						rendered="#{loopque.last}">
						<b:column col-xs="12" col-sm="12" col-md="12">
							<b:commandButton id="add" value="AGGIUNGI"
								action="#{surveyUserController.addFinal}"
								disabled="#{surveyUserController.enableToSend()}"
								style="width: 100%; background-color: #248dcd; color:white; border-color:#248dcd" />
						</b:column>
					</b:row>
				</b:container>
			</div>
		</ui:repeat>
		<b:scrollSpy target="nb" smooth="true" selectionListener="#{spy}"
			update="growlMsg" />
	</h:form>
</h:body>
</html>