<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<title>MAV – MUSEO ARCHEOLOGICO VIRTUALE</title>
	<link rel="icon" type="image/png" sizes="16x16"
		href="#{resource['images/favicon-16x16.png']}"></link>

	<style type="text/css">
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_info,
	.dataTables_wrapper .dataTables_filter {
	color: #fcca30;
}
</style>
</h:head>
<h:body
	style="font-size: 15px; background-color:black; overflow-x: hidden;">
	<h:form id="surveyAdminForm">
	
	<b:row>
		<b:column span="1" >
		<b:commandButton look="link" actionListener="#{homeController.redirect('homeAdmin.xhtml')}">
						<b:image library="images" name="back.png" style="width:100%" class="img-responsive center-block" />
					</b:commandButton>
		</b:column>
		
		<b:column offset="10" span="1" >
					<b:button value="home" iconAwesome="home" href="homeAdmin.xhtml" style="width:60%; background-color: #808184; color:white; border-color:#808184" />
				</b:column>
		
		<b:column offset="3" span="4">
			<b:image library="images" name="Logo-MAV.png" style="width: 50%;" class="img-responsive center-block" />
		</b:column>
		</b:row>
	
	
	<b:row layout="fluid">
			<b:column class="img-responsive center-block" style="align: left; height: 200px">
			</b:column>
		</b:row>
		
	
		<b:container>
			<b:dataTable value="#{surveyListController.surveys}" var="survey" style="color:#fcca30" striped="false" >


				<b:dataTableColumn value="#{survey.typology}" label="Questionario" />
				<b:dataTableColumn value="#{survey.language}" label="Lingua" />


				<b:dataTableColumn>
					<b:button value="Visualizza" iconAwesome="file-text-o" href="viewQuestionsAdmin.xhtml?idSurvey=#{survey.id}" label="Visualizza" />
				</b:dataTableColumn>

				<b:dataTableColumn>
					<b:commandButton value="Cancella" icon="trash" action="#{surveyListController.deleteSurvey(survey)}" label="Cancella" update=":surveyAdminForm">
					</b:commandButton>
				</b:dataTableColumn>

				<b:dataTableColumn>
					<b:button value="" icon="plus" href="addQuestion.xhtml?idSurvey=#{survey.id}" label="Aggiungi Domanda Esistente">
					</b:button>
				</b:dataTableColumn>


				<b:dataTableColumn>
					<b:button value="" icon="pencil" href="addNewQuestion.xhtml?idSurvey=#{survey.id}" label="Scrivi Domanda">
					</b:button>
					</b:dataTableColumn>
					
					<b:dataTableColumn>
					<b:button value="" iconAwesome="bar-chart" href="statisticList.xhtml?idSurvey=#{survey.id}" label="Statistiche">
					</b:button>
				</b:dataTableColumn>
				
				<b:dataTableColumn>
					<b:button value="" iconAwesome="fa-wrench " href="questionWithoutAnswer.xhtml?idSurvey=#{survey.id}" label="Domande senza risposte!">
					</b:button>
				</b:dataTableColumn>
				</b:dataTable>
		

		<b:row layout="fluid">
			<b:column style="align: left; height: 60px">
			</b:column>
		</b:row>
		<b:row>
			<b:column offset="5" span="3">
				<b:button value="AGGIUNGI QUESTIONARIO" href="addSurveyAdmin.xhtml" style="width:77%; background-color: #248dcd; color:white; border-color:#248dcd"/>
			</b:column>
		</b:row>
		</b:container>
	</h:form>
</h:body>
</html>