<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<title>MAV–MUSEO ARCHEOLOGICO VIRTUALE</title>
	<link rel="icon" type="image/png" sizes="16x16"
		href="#{resource['images/favicon-16x16.png']}"></link>
</h:head>
<h:body style="font-size: 15px; background-color:#000000">
	<h:form id="tipForm">
		<b:container layout="fluid" style="align: center;">
			<b:row>
				<b:column span="4" offset="4">
					<b:image library="images" name="Logo-MAV.png" style="width: 75%;"
						class="img-responsive center-block" />
				</b:column>
			</b:row>
			<b:row layout="fluid">
				<b:column style="align: right; height: 195px">
				</b:column>
			</b:row>
			<b:row layout="fluid" style="align:left; height:80px;">
				<b:column span="5" style="align:right; color: white; height:80px;">
					<h3>Esprimi e Condividi la tua Opinione</h3>
				</b:column>
			</b:row>
			<b:inputTextarea placeholder="Inserisci il suggerimento qui...."
				id="emailtext" value="#{tipPagesController.tip.tiptext}">
			</b:inputTextarea>
			<b:row layout="fluid">
				<b:column span="3" offset="10" style="align: right;">
					<b:button value="CONTINUA" href="endSurvey.xhtml"
						style="width:25%; background-color:#d8212c; border-color:#d8212c; color:white" />
					<b:commandButton value="INVIA"
						action="#{tipPagesController.addTip()}"
						style="width:25%; background-color:#d8212c; border-color:#d8212c; color:white" />
				</b:column>
			</b:row>
			<b:row layout="fluid">
				<b:column style="align: right; color: white;">
					<b>Seguici su:</b>
					<br />
					<b:socialShare shares="twitter,facebook" showLabel="true"
						show-count="false" />
					<br />
				</b:column>
			</b:row>
			<b:messages id="standardMsg" globalOnly="true" />
			<b:row layout="fluid">
				<b:column offset="4" span="4" style="align: right; height: 60px">
					<h:outputLabel value="Software realizzato da PrimaryTeam @2018"
						style="color: #d8212c" />
				</b:column>
			</b:row>
		</b:container>
	</h:form>
</h:body>
</html>