<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>MAV – MUSEO ARCHEOLOGICO VIRTUALE</title>
	<link rel="icon" type="image/png" sizes="16x16"
		href="#{resource['images/favicon-16x16.png']}"></link>
		
	<style>
	div.question0 {
	background: #248dcd; 
	width: 300px; 
	height: 100px; 
	padding-top: 1em; 
	border-radius: 6px; 
	text-align: center;
}

div.question1 {
	background: #d8212c; 
	width: 300px; 
	height: 100px; 
	padding-top: 1em; 
	border-radius: 6px; 
	text-align: center;
}

div.question2 {
	background: #fcca30; 
	width: 300px; 
	height: 100px; 
	padding-top: 1em; 
	border-radius: 6px; 
	text-align: center;
}

div.question3 {
	background: #808184; 
	width: 300px; 
	height: 100px; 
	padding-top: 1em; 
	border-radius: 6px; 
	text-align: center;
}
	</style>
</h:head>
<h:body
	style="font-size: 15px; background-color: black; overflow-x: hidden;">
	<h:form>
	<b:row>
		<b:column span="1" >
		<b:commandButton look="link"
						actionListener="#{homeController.redirect('home.xhtml')}">
						<b:image library="images" name="back.png" style="width:100%"
							class="img-responsive center-block" />
					</b:commandButton>
		</b:column>
		
		<b:column offset="3" span="4">
			<b:image library="images" name="Logo-MAV.png" style="width: 50%;"
				class="img-responsive center-block" />
		</b:column>
		</b:row>
	
	
	<b:row layout="fluid">
		<b:column class="img-responsive center-block"
			style="align: left; height: 200px">
		</b:column>
	</b:row>


			
	<b:row layout="fluid">
	<b:column span="2" offset="5">
		<ui:repeat var="survey" value="#{surveyListControllerEn.surveys}"
			varStatus="loop" >
			<b:row style="height: 30px">
			</b:row>
			<div class="question#{loop.index % 4}">
				<b:button style="color: #FFF; font-weight: bold; font-size:15px" look="link" value="#{survey.typology}" href="surveyUser.xhtml?idSurvey=#{survey.id}">>
				</b:button>
				<b:row layout="fluid">
				<b:iconAwesome name="fa-pencil-square-o" style="font-size:45px; color:#2F2F2F;"/>
				</b:row>
			</div>
			</ui:repeat>
		</b:column>
		</b:row>
	</h:form>
</h:body>
</html>