<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<title>MAV – MUSEO ARCHEOLOGICO VIRTUALE</title>
	<link rel="icon" type="image/png" sizes="16x16"
		href="#{resource['images/favicon-16x16.png']}"></link>

	<style type="text/css">
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_info,
	.dataTables_wrapper .dataTables_filter {
	color: #fcca30;
}
</style>
</h:head>
<h:body
	style="font-size: 15px; background-color:black; overflow-x: hidden;">
	<h:form id="viewQuestionsAdminForm">
	
	<b:row>
		<b:column span="1" >
		<b:commandButton look="link" actionListener="#{homeController.redirect('surveyAdmin.xhtml')}">
						<b:image library="images" name="back.png" style="width:100%" class="img-responsive center-block" />
					</b:commandButton>
		</b:column>
		
		<b:column offset="10" span="1" >
					<b:button value="home" iconAwesome="home" href="homeAdmin.xhtml" style="width:60%; background-color: #808184; color:white; border-color:#808184" />
				</b:column>
		
		<b:column offset="3" span="4">
			<b:image library="images" name="Logo-MAV.png" style="width: 50%;" class="img-responsive center-block" />
		</b:column>
		</b:row>
	
	
	<b:row layout="fluid">
			<b:column class="img-responsive center-block" style="align: left; height: 200px">
			</b:column>
		</b:row>
		
			<b:container>
				<b:dataTable id="questions-list" value="#{questionListController.questions}" var="question" style="color:#fcca30" striped="false">
				
				<b:dataTableColumn value="#{question.quetext}" label="Domanda" />
			
				<b:dataTableColumn>
					<b:button value="Visualizza" iconAwesome="file-text-o" href="viewAnswersAdmin.xhtml?idQuestion=#{question.id}" label="Visualizza" />
				</b:dataTableColumn>

				<b:dataTableColumn>
					<b:commandButton value="Cancella" icon="trash" action="#{questionListController.deleteQuestion(question)}" label="Cancella" update=":viewQuestionsAdminForm">
					</b:commandButton>
				</b:dataTableColumn>

				<b:dataTableColumn>
					<b:button value="" icon="plus" href="addAnswerAdmin.xhtml?idQuestion=#{question.id}" label="Aggiungi Risposta Esistente">
					</b:button>
				</b:dataTableColumn>


				<b:dataTableColumn>
					<b:button value="" icon="pencil" href="addNewAnswer.xhtml?idQuestion=#{question.id}" label="Scrivi Risposta">
					</b:button>
					</b:dataTableColumn>
				
			</b:dataTable>
			</b:container>
			
			<b:row layout="fluid">
				<b:column style="align: left; height: 110px">
				</b:column>
			</b:row>
				</h:form>
		</h:body>
</html>